.notification {
  width: 100%;
  //   margin-top: 44px;
  z-index: 100;
  position: fixed;
  display: block;
}

.notification-none {
  display: none !important;
}

.wsp {
  object-fit: cover;
  height: 24px;
  width: 73px;
  padding-right: 0px;
  right: 18px;
  top: 4px;
}
